/*index.css*/
/***************************   CONFIG.HTML ***********************/
body{
    margin:0px;
}
header, footer{
    background-color:steelBlue;
    color:white;
    text-align:center;
}
h1{
    margin:0px;
    padding:1px;
}
.h2{
    text-align:center;
    color:hotpink;
}
.men1{
    background-color:orange;
    position: absolute;
    left: 0px;
    width: 500px;
    /*height:200px; */
    text-align:center;
}
.nav{
    width:100%;
    eight:100px;
}
.divNav1{
    float:left;
    background-color:orange;
    color:orange;
    width:50%;
    text-align:center;
    height:22px;

}
.divNav2{
    float:right;
    background-color:Darkorange;
    width:50%;
    text-align:left;
    height:22px;
}
.tx1{
    margin:0px;
    padding:1px;
}

.dHab{
    background-color:darkBlue;
    color:white;
    width:50%;
    height:260px;
    float:left;
}
ul{
    margin-left: 10px;
}
.dSen{
    background-color:darkBlue;
    color:white;
    width:50%;
    height:260px;
    float:right;
}
.a1{
    color: white;
}
.img0{
    width:px;
    height:80px;
}

.table1{
    border: 1px solid white;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: auto;
    color: white;
    margin: 2px;
    padding: 2px;

}
/*
tr{
    /*margin: 10px;
    border: 1px white;
    border-style: doted;

}*/
td{
    border: 1px white;
    border-style: dotted;
    /*margin: 10px;*/
}
th{
    border: 1px white;
    border-style: dotted;
    cellpadding:10 px;
    margin: 100px;
}
/***************************   CONFIG.HTML ***********************/
.h1C1{
    color:black;
}
.divNavC1{
    float:left;
    background-color:orange;
    color:orange;
    width:100%;
    text-align:center;
    height:22px;

}

.col{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-rule:4px groove orange;
}

.dHabC1{
    background-color:darkBlue;
    color:white;
    width:100%;
    height:295px;
}

.f1{
    -moz-columns: 2;
    column-count: 2;
    column-rule:2px groove orange;
    height:100%;
}

.h2C1{
    text-align:center;
    color:hotpink;
    margin:10px;
    padding:0;
}
hr {
    border-style: grobe;
    border-width: 1.5px;
}
.boton{
    border-radius:5px;
    margin-left:1px;
}
.temp{
    width:50%;
    float:left;
}
.dife{
    width:50%;
    float:right;
    text-align:center;
}
.barra{
    width:10px;
    background:white;
    height:4px;
    border-left: solid darkBlue 70px;
    border-top: solid darkBlue 2px;

}
.gps{
    width:200;
    color:#BDBDBD;
}
.mapa{
    margin-left: 10px;
    width:425;
}

/***************************   MINOMBRE.HTML ***********************/
.f2{
    text-align:center;
    height:100%;
}
.divM{
    width:300px
}
.botonM1{
    border-radius:5px;
    float:right;
    margin-right:20%;
}
.N1{
    padding:2px;
}
.h2M1{
    text-align:center;
    color:hotpink;
    margin:0px;
    padding:0;
}

/***************************   ERROR404.HTML ***********************/
.error{
    text-align:center;
    font-size: 1000%;
    margin: 0px;
}
.ems{
    text-align:center;
    font-size: 250%;
    margin: 0px;
}
/***************************   GALERIA.HTML ***********************/


.fo1{
    position: absolute;
    width:100%;
}

.fo2{
    position: absolute;
    display: none;
    background: rgba(0,0,0,.85);
    width:400px;
    height:200px;
    text-align: center;
    line-height: -moz-block-height;
}

.grande{
    width:50%;
    height: auto;
    opacity: 1;
    vertical-align: middle;
}

.img1 {
    width: auto;
    height: 200px;
    background: blueviolet;
    position: relative;
}

.gcontainer{
    border: solid darkBlue 30px;
    height: 220px;
    background-color:blueviolet;
}

.div1 {
    width: auto;
    height: 200px;
    float: left;
    float: inline-start;
    background: blueviolet;
    border: solid blueviolet 10px;
}
.div2 {
    width: auto;
    height: 200px;
    background-color: blueviolet;
    border: solid blueviolet 10px;
    float : left;
    float: inline-start;
}
.div3 {
    width: auto;
    float: inline-start;
    height: 200px;
    border: solid blueviolet 10px;
}
.izq{
    float: left;
    background-color: blueviolet;
    width: 45px;
    height: 200px;
    border-left: solid blueviolet 10px;
    border-top: solid blueviolet 10px;
    border-bottom: solid blueviolet 10px;
    line-height: 200px;
    text-align: center;
    min-width: 35px;
    padding: 0;
    margin: 0;
}
.dch{
    background-color: blueviolet;
    width: auto;
    height: 200px;
    border: solid blueviolet 10px;
    line-height: 200px;
    text-align: center;
    min-width: 35px;
    float:right;
}
.flechai{
    min-width: 10px;
    height: 90%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.flechad{
    min-width: 20px;
    height: 90%;
    vertical-align: middle;
}

.boti{
    min-width: 10px;
    height: 20%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    background: transparent;
}

.botd{
    min-width: 20px;
    height: 40%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
     background: transparent;
}

.h2p{
    position: absolute;
    top: 100px;

    width: 100%;
    color: white;


}

.spp{

    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0px;
}

/***************************   TABLAS.HTML ***********************/

.dinT{
    width:84%;
    color: white;
    margin: 0% auto;
    table-layout: fixed;
    text-align: center;
}

.lk{
    cursor:pointer;
    text-decoration:underline;
    color:#00f;
    padding: 0;
    border:none;
    background-color: steelBlue;

}

.tlink{
    background-color: orange ;
    margin: 0% auto;
    width: 60%;
    table-layout: fixed;
    padding: 0;
}

.tcontainer{
    border: solid darkBlue 30px;
    height: autopx;
    background-color:darkBlue;
    text-align: center;

}
.pr1{
    color: white;
}
.par{
    background-color:blueviolet;
    border:none;
}

.impar{
    background-color:purple;
    border: none;
}

