/*index.css*/
/***************************   CONFIG.HTML ***********************/
body{
    margin:0px;
}
header, footer{
    background-color:steelBlue;
    color:white;
    text-align:center;
}
h1{
    margin:0px;
    padding:1px;
}
.h2{
    text-align:center;
    color:hotpink;
}
.men1{
    background-color:orange;
    position: absolute;
    left: 0px;
    width: 500px;
    /*height:200px; */
    text-align:center;
}
.nav{
    width:100%;
    eight:100px;
}
.divNav1{
    float:left;
    background-color:orange;
    color:orange;
    width:50%;
    text-align:center;
    height:22px;

}
.divNav2{
    float:right;
    background-color:Darkorange;
    width:50%;
    text-align:left;
    height:22px;
}
.tx1{
    margin:0px;
    padding:1px;
}

.dHab{
    background-color:darkBlue;
    color:white;
    width:50%;
    height:260px;
    float:left;
}
ul{
    margin-left: 10px;
}
.dSen{
    background-color:darkBlue;
    color:white;
    width:50%;
    height:260px;
    float:right;
}
.a1{
    color: white;
}
.img1{
    width:px;
    height:80px;
}

table{
    border: 1px solid white;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: auto;
    color: white;
    margin: 2px;
    padding: 2px;

}
/*
tr{
    /*margin: 10px;
    border: 1px white;
    border-style: doted;

}*/
td{
    border: 1px white;
    border-style: dotted;
    /*margin: 10px;*/
}
th{
    border: 1px white;
    border-style: dotted;
    cellpadding:10 px;
    margin: 100px;
}
/***************************   CONFIG.HTML ***********************/
.h1C1{
    color:black;
}
.divNavC1{
    float:left;
    background-color:orange;
    color:orange;
    width:100%;
    text-align:center;
    height:22px;

}

.col{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    column-rule:4px groove orange;
}

.dHabC1{
    background-color:darkBlue;
    color:white;
    width:100%;
    height:295px;
}

.f1{
    -moz-columns: 2;
    column-count: 2;
    column-rule:2px groove orange;
    height:100%;
}

.h2C1{
    text-align:center;
    color:hotpink;
    margin:10px;
    padding:0;
}
hr {
    border-style: grobe;
    border-width: 1.5px;
}
.boton{
    border-radius:5px;
    margin-left:1px;
}
.temp{
    width:50%;
    float:left;
}
.dife{
    width:50%;
    float:right;
    text-align:center;
}
/***************************   MINOMBRE.HTML ***********************/
.f2{
    text-align:center;
    height:100%;
}
.divM{
    width:300px
}
.botonM1{
    border-radius:5px;
    float:right;
    margin-right:20%;
}
.N1{
    padding:2px;
}
.h2M1{
    text-align:center;
    color:hotpink;
    margin:0px;
    padding:0;
}
/***************************   ERROR404.HTML ***********************/
.error{
    text-align:center;
    font-size: 1000%;
    margin: 0px;
}
.ems{
    text-align:center;
    font-size: 250%;
    margin: 0px;
}
