header, footer{
    background-color:steelBlue;
    color:white;
    text-align:center;
}
h1{
    margin:0px;
    padding:1px;
}
.h2{
    text-align:center;
    color:hotpink;
}
.men1{
    background-color:orange;
    position: absolute;
    left: 0px;
    width: 500px;
    /*height:200px; */
    text-align:center;
}
.nav{
    width:100%;
    eight:100px;
}
.divNav1{
    float:left;
    background-color:orange;
    color:orange;
    width:50%;
    text-align:center;
    height:22px;

}
.divNav2{
    float:right;
    background-color:Darkorange;
    width:50%;
    text-align:left;
    height:22px;
}
.tx1{
    margin:0px;
    padding:1px;
}

.dHab{
    background-color:blue;
    color:white;
    width:50%;
    height:350px;
    float:left;
}
ul{
    margin-left: 10px;
}
.dSen{
    background-color:blue;
    color:white;
    width:50%;
    height:350px;
    float:right;
}
.a1{
    color: white;
}
.img1{
    width:100px;
    height:px;
}

table{
    border: 1px solid white;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: auto;
    color: white;
    margin: 2px;
    padding: 2px;

}
/*
tr{
    /*margin: 10px;
    border: 1px white;
    border-style: doted;

}*/
td{
    border: 1px white;
    border-style: dotted;
    /*margin: 10px;*/
}
th{
    border: 1px white;
    border-style: dotted;
    cellpadding:10 px;
    margin: 100px;
}